{% extends baseTemplate %}

{% set title = (customEntityName ~ '.mass_edit.title')|trans %}

{% block content %}
    {% set subtitle = (customEntityName ~ '.mass_edit.subtitle')|transchoice(objectCount) %}
    {{ elements.page_header(title, null, subtitle) }}

    <div class="AknFormContainer AknFormContainer--withPadding">
        {{ form_start(form, { 'action': formAction }) }}
        <div class="row buffer-top">
            <div class="AknFormContainer AknFormContainer--withPadding mass-edit-form">
                <div class="errors">
                    {{ elements.form_errors(form) }}
                </div>
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="row buffer-top">
            <div class="AknFormContainer AknFormContainer--withPadding">
                <div class="AknFieldContainer">
                    <input id="massedit_confirm" type="checkbox" required="required">
                    <label for="massedit_confirm"
                           class="AknFieldContainer-label">{{ (customEntityName ~ '.mass_edit.confirm')|transchoice(objectCount) }}</label>
                </div>


            </div>
            <div class="AknButtonList AknButtonList--right configuration">
                {{ elements.link('btn.cancel', indexUrl, {icon: 'chevron-left', class: 'AknButtonList-item btn-cancel'}) }}
                {{ elements.submitBtn('btn.save', 'chevron-right', 'AknButtonList-item') }}
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}
